.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 20rem;
  height: 24rem;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 5px 0px rgba(0, 64, 128, 0.1);
}

.product-card__info {
  padding: 16px;
  width: 100%;
  height: calc(100% - 75%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-card__main-info {
  display: flex;
  justify-content: space-between;
}

.product-card__sub-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.product-card__sold {
  color: brown;
  font-size: 14px;
}

.product-card__title {
  font-weight: bold;
}

.product-card__image {
  width: 100%;
  max-width: 100%;
  height: 75%;
  object-fit: fill;
}

.product-card__description,
.product-card__price,
.product-card__brand {
  margin: 0.2rem 0;
  font-size: 1rem;
}

.product-card__brand {
  font-weight: bold;
  text-transform: uppercase;
}

.product-card__description {
  font-weight: normal;
}

.product-card__price {
  font-weight: bold;
}

.product-card__btn-wishlist {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  background-color: white;
  padding: 12px 10px 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 64, 128, 0.1);
}

.product-card__btn-cart {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  background-color: white;
  padding: 12px 10px 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 64, 128, 0.1);
}

.product-card__btn-wishlist svg {
  fill: lightgrey;
}

.product-card__btn-wishlist:hover {
  background-color: rgb(255, 81, 81);
}

.product-card__btn-wishlist:hover svg {
  fill: rgb(207, 13, 13);
}

.product-card__btn-cart:hover {
  background-color: rgb(81, 142, 255);
}
